#blog-container {
  background-image: url(../../assets/images/bg/about.jpg);
  padding: 20px;
}

#blog-container .container{
  padding: 24px;
  display: flex;
  gap: 40px;
}

#blog-container .container .left{
  position: relative;
  padding: 10px;
  width: 70%;
}

#blog-container .container .left h2, #blog-container .container .left h3{
  font-family: 'sergio' !important;
}

#blog-container .container .left p, #blog-container .container .right .recent-blogs h2{
  font-family: 'aeonik' !important;
}

#blog-container .container .right{
  flex: 1;
  width: 30%; 
}

#blog-container .container .right>img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

#blog-container .container .right .recent-blogs{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 4px;  
}

#blog-container .container .right .recent-blogs>div{
  display: flex;
  gap: 15px;
  font-family: aeonik;
  margin-bottom: 10px;
}

#blog-container .container .right .recent-blogs>div img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

@media screen and (max-width: 768px){
  #blog-container .container{
    flex-direction: column-reverse;
  }

  #blog-container .container .left{
    width: 100%;
  }

  #blog-container .container .right{
    width: 100%;
  }

  #blog-container .container .right>img{
    width: 100%;
    height: 300px;
  }

  #blog-container .container .right .recent-blogs{
    display: none;
  }
  
}