#shop-container {
  background-color: #FEE0A9;
  border: 4px solid black;
  border-radius: 20px;
  margin: 160px 40px 40px 40px;
  position: relative;
  overflow: hidden;
  background-image: url(../images/bg/elements.png);
  background-size: cover;
  background-repeat: repeat-y;
}

#shop-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68240C;
  color: white;
  border: 4px solid black;
  border-radius: 20px;
  padding: 16px 16px 0px 16px;
  margin-bottom: 40px;
  gap: 0px 18px;
  flex-wrap: wrap;
}

#shop-header-container h2{
  text-align: center;
  cursor: pointer;
}
#shop-header-container h2 span{
  font-family: sergio;
}

#shop-header-container h2 img{
  height: 32px;
  filter: drop-shadow(0px 0px 2px black);
}

#shop-card{
  border-radius: 20px;
  background-image: url(../images/bg/about.jpg);
  cursor: pointer;
}

/* Modal Styling */
.product {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

#modal-section-inner{
  width: 70vw;
  /* background-image: url(../images/bg/img1.png);
  background-size: cover; */
  position: relative;
  overflow: hidden;
}

#modal-section-inner .modal-section-inner-content{
  position: relative;
  z-index: 9999;
}

#modal-bg-image{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.product-content {
  position: relative;
  width: 60%;
  background: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  display: none;
  overflow: hidden;
}

.product #product-image {
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  height: 380px;
  width: 380px;
  object-fit: cover;
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 32px;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  #shop-container {
    margin: 140px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg/elements.png);
    background-size: contain;
    background-repeat: repeat-y;
  }

  #shop-header-container{
    /* flex-direction: column; */
  }

  #shop-header-container h2{
    font-size: 18px !important;
  }

  #shop-header-container h2 img{
    height: 24px;
  }

  #modal-section-inner{
    height: 80vh;
    width: 100%;
    overflow-y: auto;
    text-align: center;
  }

  #modal-section-inner .modal-section-inner-content{
    padding: 0px !important;
  }

  .product-content {
    width: 90%;
    flex-direction: column;
  }

  .product #product-image {
    height: 450px;
    width: 450px;
  }
  
  .product img {
    height: initial;
    width: 450px;
    margin-bottom: 40px;
  }

  #modal-bg-image{
    display: none;
  }
}