@font-face {
      font-family: "bilgres";
      src: url(../fonts/Bilgres-DEMO.otf);
}

@font-face {
      font-family: "aeonik";
      src: url(../fonts/AeonikFono-Regular.otf);
}

@font-face {
      font-family: "sergio";
      src: url(../fonts/SergioTrendy.ttf);
}

.animated-element {
      position: fixed;
      top: 5%;
      right: 5%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      opacity: 0;
      transform: rotate(-360deg);
      z-index: 999;
}

#uc-menu-panel {
      z-index: 99999;
}

#header-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      z-index: 99999;
}

.dropdown {
      position: relative;
}

.dropdown-menu {
      display: none;
      position: absolute;
      background-color: white;
      color: black;
      list-style: none;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      min-width: 200px;
      top: 100%;
      left: 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
      padding: 8px 12px;
}

.dropdown-menu li a {
      text-decoration: none;
      color: black;
      display: block;
}

.dropdown-menu li:hover {
      background-color: #f0f0f0;
}

.catalogueDropdown-menu {
      display: none;
      position: absolute;
      background-color: white;
      color: black;
      list-style: none;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      min-width: 300px;
      max-height: 250px;
      overflow-y: scroll;
      top: 100%;
      left: 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.catalogueDropdown-menu li {
      padding: 8px 12px;
}

.catalogueDropdown-menu li a {
      text-decoration: none;
      color: black;
      display: block;
}

.catalogueDropdown-menu li:hover {
      background-color: #f0f0f0;
}

.show {
      display: block;
}

#wrapper {
      background-color: #F56DA9;
}

footer {
      background-color: #F56DA9;
}

#Our-Marts h1 {
      margin-bottom: 50px;
      color: #e0eff2;
      font: italic bold 100px Georgia, Serif;
      text-shadow: -4px 3px 0 #ec268f, -14px 7px 0 #ec268f;
      font-family: Sergio !important;
      display: flex;
      align-items: center;
      justify-content: center;
}

#Hero-Banner-Full {
      /* background-image: url(../images/bg/Kamco_Landscape\ Background.jpg); */
      /* background-size: cover; */
      height: 100vh;
      background-image: url(../images/bg/Kamco_Landscape\ Background.jpg);
}

#Hero-Banner-Full video {
      /* width: 50%; */
      /* height: 100vh; */
      /* position: absolute; */
      /* right: 0; */
      height: 100%;
}

#Hero-Banner-Full img {
      height: 100vh;
      position: absolute;
      right: 0;

}

#Hero-Banner-Full h1 {
      position: absolute;
      top: 3%;
      padding-left: 2%;
      font-size: 70px;
      color: #fff;
      font-family: 'ebrima' !important;
      font-weight: 700;
}

#Hero-Banner-Full span {
      color: #e31e23;
      font-size: 90px;
}

#hero-container {
      background-image: url(../images/bg/hero.png);
      background-size: cover;
      height: 130vh;
}

.hero-products {
      position: absolute;
      object-fit: cover;
}

#hero-product1 {
      height: 32%;
      left: 30%;
      top: 28%;
      transform: rotate(-14deg);
}

#hero-product2 {
      height: 32%;
      right: 28%;
      top: 26%;
      transform: rotate(8deg);
}

#hero-product3 {
      height: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 40%;
}

#hero-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 80px;
}

#about {
      margin: 20px 40px 0px 40px;
      border: 4px solid black;
      border-radius: 30px;
      background-image: url(../images/bg/about.jpg);
      background-color: transparent;
      background-size: cover;
}

#roadmap #journey-left-section {
      display: flex;
      gap: 80px;
}

#roadmap #journey-left-section .panel {
      display: flex;
      flex-direction: column;
      align-items: end;
}

#roadmap #journey-left-section>div {
      padding-right: 40px;
}

#roadmap .journey-footer {
      font-size: 18px;
}

.counter-container {
      color: #E31E23;
      font-family: aeonik !important;
}

.rollis {
      position: absolute;
      width: 25%;
      /* transform: rotate(-50deg); */

}

#rollis1 {
      top: 50px;
      right: -160px;
}

#rollis2 {
      bottom: -20px;
      left: -160px;
}

#quality-matters-el1 {
      opacity: 0;
      filter: drop-shadow(0px 0px 5px black);
      width: 10%;
      position: absolute;
      top: 85px;
      left: 25px;
      margin-top: 6%;
      margin-left: 20px;
      z-index: 99;
      animation: rotate 3s ease-in-out infinite;
}

#certifications {
      text-align: center;
      font-family: aeonik !important;
      padding: 80px 30px;
}

#certifications h2 {
      font-family: sergio !important;
}

#certifications .certificates {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-items: center;
      align-items: center;
      gap: 30px;
      padding: 40px;
}

#certifications .certificates>div {
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      align-items: center;
      gap: 30px;
}

#certifications .certificates img {
      height: 140px;
      width: 140px;
      /* max-width: 100%; */
      object-fit: contain;
      padding: 10px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
}

#worldWideDomination-container {
      position: relative;
      overflow: hidden;
      background-color: burlywood;
}

#videoOverlay {
      display: flex;
}

#videoOverlay div {
      flex: 1;
      background-color: #062e46;
}

#landing-page-teddy {
      width: 20%;
      position: absolute;
      right: 10px;
      top: 40px;
      transform: rotate(30deg);
      animation: float 3s ease-in-out infinite;
      animation-delay: 0.5s;
      z-index: 99;
}

#products-carousal {
      margin-top: 30px;
      width: 100%;
      background-color: #0054A4;
      position: relative;
      overflow-x: scroll;
      padding: 40px;
}

#products-carousal::-webkit-scrollbar {
      display: none;
}

#products-carousal #container {
      display: flex;
      padding: 20px;
      gap: 80px;
      align-items: center;
      position: relative;
      left: 0px;
      transition: left 1s ease-in-out;
}

#products-carousal #container img {
      height: 340px;
      width: 340px;
      object-fit: cover;
      filter: drop-shadow(0px 0px 10px black);
}


#features #features-container {
      background-color: #F8B852;
      border: 4px solid black;
      border-radius: 20px;
      margin: 40px;
      position: relative;
      overflow-x: hidden;
}

#features .section-outer {
      background-color: rgb(255, 218, 127, 0.6);
      border: 4px solid black;
      border-radius: 20px;
      margin: 160px 40px 40px 40px;
      position: relative;
      overflow: hidden;
}

#blogs-grid {
      display: flex;
      justify-content: center;
      gap: 28px;
      flex-wrap: wrap;
}

.individual-blog-wrapper{
      margin-bottom: 28px;
}

#tokenomics {
      margin: 40px;
      border: 4px solid black;
      border-radius: 30px;
      background-image: url(../images/bg/about.jpg);
      background-color: transparent;
      background-size: cover;
}

.global-presence-content h1 {
      font-family: sergio !important;
      margin-bottom: 20px;
      margin-bottom: 50px;
      color: #228beb;
      font: italic bold 100px Georgia, Serif;
      text-shadow: -4px 3px 0 black, -14px 7px 0 white;
      font-family: Sergio !important;
      display: flex;
      align-items: center;
      justify-content: center;
}

#bilgres-font {
      font-family: "bilgres !important";
}

.hero-band-text {
      -webkit-text-stroke: 2.5px black;
}

#yellow-packet {
      position: absolute;
      top: 30px;
      left: 30px;
      height: 270px;
      z-index: 99;
      /* transform: rotate(20deg); */
      animation: float 3s ease-in-out infinite;
}

#cremefills-candy {
      position: absolute;
      top: 30px;
      left: 30px;
      height: 200px;
      z-index: 99;
      /* transform: rotate(20deg); */
      animation: rotate 3s ease-in-out infinite;
}

#subscribe {
      background-color: #E31E23;
      margin: 40px 40px 0px 40px;
      border: 4px solid black;
      border-radius: 30px;
}

#float-horizontal {
      position: absolute;
      animation: lefttoright 3s ease-in-out infinite;
}

.feature-el1 {
      top: 11%;
      left: -30px;
}

.feature-el2 {
      bottom: 6%;
      right: 0px;
}

#contact {
      margin: 0px 40px 0px 40px;
      border: 4px solid black;
      border-radius: 30px;
      background-image: url(../images/bg/about.jpg);
      background-color: transparent;
      background-size: cover;
      margin-bottom: 50px;
}

#contact #inputFields {
      padding-right: 20px;
}

#contact #inputFields {
      padding-right: 20px;
}

#contact .focus-icon {
      height: 90%;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
}

.footer-cta {
      position: relative;
      z-index: 9;
}

.about-image {
      padding: 3.5rem !important;
}

@keyframes lefttoright {
      0% {
            transform: translateX(0px);
      }

      50% {
            transform: translateX(30px);
      }

      100% {
            transform: translateX(0px);
      }

}

@keyframes float {
      0% {
            transform: translatey(0px);
      }

      50% {
            transform: translatey(-20px);
      }

      100% {
            transform: translatey(0px);
      }
}

@keyframes rotate {
      0% {
            transform: rotate(-10deg);
      }

      50% {
            transform: rotate(5deg);
      }

      100% {
            transform: rotate(-10deg);
      }
}

@keyframes bounceStick {

      0%,
      100% {
            transform: translateY(0) rotate(-15deg);
      }

      50% {
            transform: translateY(-40px) rotate(-15deg);
      }
}

@keyframes bounceTeddy {

      0%,
      50%,
      100% {
            transform: translateY(0);
      }

      40% {
            transform: translateY(-30px);
      }

      60% {
            transform: translateY(-15px);
      }

}

@media screen and (max-width: 768px) {

      #Our-Marts {
            margin-top: 40px;
      }

      #Our-Marts h1 {
            margin-bottom: 50px;
            color: #e0eff2;
            font: italic bold 38px Georgia, Serif;
            text-shadow: -4px 3px 0 #ec268f, -14px 7px 0 #ec268f;
            font-family: Sergio !important;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .column-reverse {
            flex-direction: column-reverse;
      }

      #Hero-Banner-Full {
            height: 100vh;
            background-image: url(../images/bg/Kamco_Portrait\ Background.jpg);
            background-size: cover;
            right: 0;
      }

      /* #Hero-Banner-Full video {
            width: 100vw;
            height: 100vh;
      } */

      #Hero-Banner-Full img {
            height: 40vh;
            position: absolute;
            right: 0;
            top: 2%;
      }

      #Hero-Banner-Full h1 {
            position: absolute;
            top: 5%;
            /* padding-left: 2%; */
            left: 2%;
            font-size: 45px;
            color: #fff;
            font-family: 'ebrima' !important;
            font-weight: 700;
            text-align: left;
      }

      #Hero-Banner-Full span {
            color: #e31e23;
            font-size: 60px;
      }

      #hero-container {
            background-image: url(../images/bg/hero-mobile.png);
            background-position: center;
            background-size: cover;
            height: 100vh;
      }


      .section-inner {
            padding-top: 30px;
      }

      #hero-product1 {
            height: 25%;
            left: 4%;
            top: 35%;
            transform: rotate(-12deg);
      }

      #hero-product2 {
            height: 25%;
            right: 4%;
            top: 35%;
            transform: rotate(8deg);
      }

      #hero-product3 {
            height: 35%;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 43%;
      }

      #hero-content {
            position: absolute;
            bottom: 10%;
      }

      #about {
            margin: 120px 10px 0px 10px;
            border-radius: 20px;
      }

      .landing-about-section {
            margin: 20px 10px 0px 10px !important;
      }

      #roadmap #journey-left-section {
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;
      }

      #roadmap #journey-left-section .panel {
            align-items: flex-start;
      }

      #roadmap #journey-left-section>div {
            padding-right: 0px;
      }

      #landing-page-teddy {
            width: 130px;
            top: 30px;
            z-index: 9;
      }

      .counter-container {
            font-size: 32px !important;
      }

      #features #features-container {
            margin: 15px 5px;
      }

      #features .section-outer {
            margin: 140px 10px 5px 10px;
      }

      #certifications {
            text-align: center;
            font-family: aeonik !important;
            padding: 80px 30px;
      }

      #certifications .certificates {
            flex-direction: row;
            justify-content: center;


      }

      #certifications .certificates>div {
            justify-content: center;
      }

      #certifications .certificates img {
            height: 90px;
            width: 90px;
      }

      #yellow-packet {
            top: -4px;
            left: 10px;
            height: 160px;
            z-index: 0;
      }

      #tokenomics {
            margin: 15px 5px 0px 5px;
      }

      #subscribe {
            margin: 10px 10px 0px 10px;
      }

      #contact {
            margin: 0px 10px;
            margin-bottom: 0px;
      }

      .about-image {
            padding: 1rem !important;
      }

}